@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

/* set a universal selector * */



body {
    background-color:rgb(96, 179, 179);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    scroll-behavior: smooth;
    padding-top: 3rem;
}

.push1{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: rgb(241, 149, 36);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.entry{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 400px;
    width: 400px;
}

.entry .utensil {
    background-color: rgb(203, 95, 97);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}


.entry .utensil button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.entry textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 160px;
    width: 160;
    padding: 20%;
}

.master{
    padding: 20px;
}

.invisible {
    display: none;
}
